@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

	<ul class="navbar-nav flex-grow-1">
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Equipments" asp-action="Index">Inventory Management</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Students" asp-action="Index">Student Management</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Reports" asp-action="AssignItems">Assign Items</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="" asp-controller="Reports" asp-action="Index">Reports</a>
		</li>
	</ul>
	
	<img src="Images/MACC-Dark.png" alt="sample photo"/>
</div>